---
import Icon from "astro-icon";
---

<a
  href="https://l.linklyhq.com/l/1utcJ?source=website"
  target="_blank"
  rel="noopener"
  class="btn-hm animate-opacity-announcement md:text-lg"
>
<div class="flex flex-row justify-center items-center">
  <Icon pack="ph" name="ticket" class="h-10 -rotate-45 text-secondary mr-4" />
  <div class="flex flex-col">
    <span class="font-bold font-strong uppercase">Registrate al evento</span>
    <div class="text-xs font-extrabold">
      <span class="text-secondary font-mono md:hidden">:~$ bash ingresar_gratis.sh</span>
      <span class="text-secondary font-mono hidden md:flex">:~$ ./ingresar_completamente_gratis.sh</span>
    </div>
  </div>
</div>
</a>