/* TODO: consider creating <Button> and <GradientText> components */
a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-secondary;
  @apply active:scale-105;
}

.gradient-text {
  background: linear-gradient(90deg, rgb(240, 226, 134) 0%, rgb(238, 92, 187) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.font-strong {
  letter-spacing: 1px;
} 