/* TODO: consider creating <Button> and <GradientText> components */
a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-primary;
  @apply active:scale-105;
}

.btn-hm {
  @apply flex items-center justify-center gap-3 border-2 border-primary px-6 py-4 rounded-3xl;
  @apply hover:bg-primary hover:text-white;
}

.gradient-text {
  background: linear-gradient(180deg,#ab54a7 20%, #b67ca9 55%, #9c499e 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 20px rgba(225, 218, 172, .1));
}


.gradient-text-yellow {
  background: linear-gradient(180deg,#b9b070 20%, #e0ddc4 55%, #c0b773 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 20px rgba(225, 218, 172, .1));
}

.font-strong {
  letter-spacing: 1px;
} 

.animate-opacity-announcement {
  animation: opacity-announcement 3s infinite;
}

@keyframes opacity-announcement {
  0% {
    box-shadow: rgba(217, 130, 186, 0.2) 0px 0px 50px 0px;
  }
  50% {
    box-shadow: rgba(217, 130, 186, 0.5) 0px 0px 50px 0px;
  }
  100% {
    box-shadow: rgba(217, 130, 186, 0.2) 0px 0px 50px 0px;
  }
}