<div id="starfield" class="absolute inset-0">
  <canvas id="game-of-life" width="0" height="0"></canvas>
</div>

<script>
  // Based on http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life
  // https://gist.github.com/strategicpause/827183/2da101e92a79c0ffa40b0b986175170984f00355
  const { width, height } = getScreenSizes()
  const GAME_WIDTH = width
  const GAME_HEIGHT = height
  const SQUARE_SIZE = 8

  let WIDTH = Math.round(GAME_WIDTH / SQUARE_SIZE);
  let HEIGHT = Math.round(GAME_HEIGHT / SQUARE_SIZE);
  let state = new Array(WIDTH);

  init()

  function init() {
    const canvas: any = document.getElementById('game-of-life')
    canvas.width = GAME_WIDTH;
    canvas.height = GAME_HEIGHT;

    for(let i = 0; i < WIDTH; i++) {
      state[i] = new Array(HEIGHT);
      for(let j = 0; j < HEIGHT; j++) {
        state[i][j] = Math.random() < 0.08; 
      }
    }
    let interval = setInterval(game_loop, 300);

    setTimeout(() => {
      clearInterval(interval)
      init()
    }, 50000);
  }
  
  function game_loop() {
    let n_neighbors;
    for(let i = 0; i < WIDTH; i++) {
      for(let j = 0; j < HEIGHT; j++) {
        n_neighbors = num_neighbors(i,j);
        state[i][j] = (state[i][j]) ?
          n_neighbors == 2 || n_neighbors == 3 :
          n_neighbors == 3;
      }
    }
    draw();
  }
  
  function num_neighbors(x: number, y: number) {
    let total = 0;
    // Check top
    if(y > 0) {
      total += state[x][y - 1] ? 1 : 0;
    }
    // Check bottom
    if(y < HEIGHT - 1) {
      total += state[x][y + 1] ? 1 : 0;
    }
    // Check left
    if(x > 0) {
      total += state[x - 1][y] ? 1 : 0;
    }
    // Check right
    if(x < WIDTH - 1) {
      total += state[x + 1][y] ? 1 : 0;
    }
    // Check top-left
    if(y > 0 && x > 0) {
      total += state[x - 1][y -1] ? 1 : 0;
    }
    // Check top-right
    if(y > 0 && x < WIDTH - 1) {
      total += state[x + 1][y - 1] ? 1 : 0;
    }
    // Check bottom-left
    if(y < HEIGHT - 1 && x > 0) {
      total += state[x - 1][y + 1] ? 1 : 0;
    }
    // Check bottom-right
    if(y < HEIGHT - 1 && x < WIDTH - 1) {
      total += state[x + 1][y + 1] ? 1 : 0;
    }
    return total;
  }
  
  function draw() {
    let canvas = document.getElementById('game-of-life') as HTMLCanvasElement;
    if(canvas.getContext) {
      let ctx = canvas.getContext('2d');
      ctx?.clearRect(0, 0, GAME_WIDTH, GAME_HEIGHT);
      for(let i = 0; i < GAME_WIDTH; i+= SQUARE_SIZE) {
        for(let j = 0; j < GAME_HEIGHT; j+= SQUARE_SIZE) {
          if(ctx && state[i / SQUARE_SIZE][j / SQUARE_SIZE]) {
            // ctx.fillStyle =  Math.random() < 0.1 ? 'rgba(255,255,255,0.2)':'rgba(255,255,255,0.3)'
            ctx.fillStyle =  'rgba(225,218,172, 0.35)'
            ctx?.fillRect(i, j, SQUARE_SIZE, SQUARE_SIZE);
          }
        }
      }
    }
  }

  function getScreenSizes() {
    const width = Math.round((window.innerWidth > 0) ? window.innerWidth : screen.width)
    const height = Math.round((window.innerHeight > 0) ? window.innerHeight : screen.height)

    return {
      width,
      height
    }
  }
</script>
