---
import Icon from "astro-icon";
import ContentSection from "~/components/content-section.astro";

const announcements = [
  {
    name: 'Call For Villages',
    url: 'https://l.linklyhq.com/l/1uUZ7?source=webpage',
    description: 'Call For Villages'
  },
  {
    name: 'Call For Speakers',
    url: 'https://l.linklyhq.com/l/1txiC?source=webpage',
    description: 'Call For Speakers'
  },
  {
    name: 'Call For Workshops',
    url: 'https://l.linklyhq.com/l/1u4v0?source=webpage',
    description: 'Call For Workshops'
  },
  {
    name: 'Call For Sponsors',
    url: 'https://l.linklyhq.com/l/1toeu?source=webpage',
    description: 'Call For Sponsors'
  }
]
---


<ContentSection title="Anuncios" id="announcements">
  <Fragment slot="lead" class="font-sans">
    <ul>
      {
        announcements.map(({ name, url })=>{
          return <li class=" md:text-xl text-md font-semibold">
            <a 
              href={url}
              class="w-full hover:text-primary hover:cursor-pointer"
              target="_blank"
              rel="noopener"
            >
              - { name }  
            </a>
          </li>
        })
      }
    </ul>
    <div class="h-5"></div>
    <a
      href="https://www.facebook.com/events/1073193807428130/?ref=newsfeed"
      target="_blank"
      rel="noopener"
      class="btn-hm"
    >
      <Icon pack="ph" name="ticket" class="h-10 -rotate-45" />
      <span>Registrate al evento</span>
    </a>
  </Fragment>
</ContentSection>
