---
import Icon from "astro-icon";
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "Preact",
    icon: "frameworks/preact",
    url: "https://preactjs.com/",
  },
  {
    title: "Svelte",
    icon: "frameworks/svelte",
    url: "https://svelte.dev/",
  },
  {
    title: "Vue",
    icon: "frameworks/vue",
    url: "https://vuejs.org/",
  },
  {
    title: "Solid",
    icon: "frameworks/solid",
    url: "https://www.solidjs.com/",
  },
  {
    title: "Lit",
    icon: "frameworks/lit",
    url: "https://lit.dev/",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "White Hat",
    icon: "platforms/netlify",
    url: "https://www.netlify.com/",
  },
  {
    title: "Gray Hat",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "Black Hat",
    icon: "fa-brands:cloudflare",
    url: "https://pages.cloudflare.com/",
  },
];
---

<ContentSection title="¿Deseas Auspiciar el Evento?" id="compatibility">
  <Fragment slot="lead">
    Si eres una empresa comprometida con la tecnología, innovación y
     la seguridad informática
     <br>
     <br>
     <span class="text-primary">
      ¡Esta es tu oportunidad! 
    </span>
    <!-- Astro <span class="text-primary">plays nice</span>. Bring your own UI{" "}
    <span class="text-primary">framework</span>
    and deploy to your favorite <span class="text-primary">platform</span>. -->
  </Fragment>
  <!-- <CompatibilityList
    items={frameworks}
    title="Frameworks"
    url="https://docs.astro.build/core-concepts/framework-components/"
  /> -->
  <CompatibilityList
    items={platforms}
    title="Nuestros Paquetes"
    url="https://docs.astro.build/guides/deploy/"
  />

  <a
    href="https://l.linklyhq.com/l/1toer?source=website"
    target="_blank"
    rel="noopener"
    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4 rounded-3xl"
  >
    <Icon pack="dashicons" name="pdf" class="h-10" />
    <span>Revisa nuestras Ofertas</span>
  </a>
</ContentSection>
