---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="¿Qué es un Hackmeeting?" id="hackmeeting">
  <Fragment slot="lead">
    Es un evento anual que reúne a hackers, comunidades,
    aficionados y  profesionales de distintas áreas <span class="text-primary">para compartir 
    conocimientos, anécdotas y experiencia</span> acerca del diverso mundo 
    del hacking, uso libre de las tecnologías, manejo de datos, seguridad de la 
    información, tecnologías en tendencia y su impacto en la sociedad
    <br>
    <br>
    <span class="text-primary">
      Un evento autogestionado, abierto, libre y gratuito para todo público
    </span>
  </Fragment>
</ContentSection>
