---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="El HM en la Llajta" id="intro">
  <Fragment slot="lead" class="font-sans">
    Este año el <span class="text-primary">Hackmeeting Bolivia</span>
    se vivirá en Cochabamba
  </Fragment>
</ContentSection>
