---
import Icon from "astro-icon";
import { getCollection } from "astro:content";
import ContentSection from "~/components/content-section.astro";
import Carousel from "./carousel/carousel.vue";
import type { Images } from "./carousel/carousel.vue";

import hm1 from "~/assets/images/hm-1.jpg";
import hm2 from "~/assets/images/hm-2.jpg";
import hm3 from "~/assets/images/hm-3.jpg";
import hm4 from "~/assets/images/hm-4.jpg";
import hm5 from "~/assets/images/hm-5.jpg";
import hm6 from "~/assets/images/hm-6.jpg";
import hm7 from "~/assets/images/hm-7.jpg";

const featuredSites = await getCollection(
  "showcase",
  ({ data }) => "featured" in data
);
const orderedSites = featuredSites.sort(
  (a, b) => a.data.featured! - b.data.featured!
);

const images: Images[] = [
  {
    path: hm1.src,
    alt: 'image old HM',
    class: 'h-90'
  },
  {
    path: hm2.src,
    alt: 'image old HM',
    class: 'h-90'
  },
  {
    path: hm3.src,
    alt: 'image old HM',
    class: 'h-90'
  },
  {
    path: hm4.src,
    alt: 'image old HM',
    class: 'h-90'
  },
  {
    path: hm5.src,
    alt: 'image old HM',
    class: 'h-90'
  },
  {
    path: hm6.src,
    alt: 'image old HM',
    class: 'h-90'
  },
  {
    path: hm7.src,
    alt: 'image old HM',
    class: 'h-90'
  }
]

const breakpoints = {
  640: {
    itemsToShow: 1,
  },
  1024: {
    itemsToShow: 3,
  },
  1280: {
    itemsToShow: 3,
  }
}
---

<ContentSection title="Hackmeetings Previos" id="showcase">
  <Fragment slot="lead">
    Revisa <span class="text-primary">nuestras memorias</span>. Más que solo un evento, 
    un kernel que late desde el 2010 en Bolivia
  </Fragment>

  <Carousel 
    client:load 
    images={images} 
    viewportHeigth="100px" 
    numberOfImagesPerPage={3} 
    autoplay={5000}
    breakpoints={breakpoints}
  />

  <a
    href="https://memorias.hackmeeting.org.bo/?source=website"
    target="_blank"
    rel="noopener"
    class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4 rounded-3xl"
  >
    <Icon pack="mdi" name="web" class="h-10" />
    <span>Nuestas memorias</span>
  </a>
</ContentSection>
