---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="" id="phrase">
  <Fragment slot="lead" class="font-sans">
    <div class="max-w-4xl bg-neutral p-6 rounded-lg text-justify">
      <span class="text-primary text-4xl">"</span>
      <span class="text-sm italic">
        Tratamos de que el evento sea una <span class="text-primary">celebración hacker</span> de principio a fin, donde cualquier 
        persona y su opinión pueda ser escuchada, donde está permitido pensar distinto y 
        salirse de la caja, construir un diálogo, reflexiones, ideas y críticas que 
        seguramente serán parte de un actuar colectivo, un evento que reúne a grandes y 
        pequeños, ajenos y cercanos, personas de todas partes y de ninguna; juntos con la 
        finalidad de compartir desde el grano más pequeño de conocimiento y curiosidad hasta 
        la más ingente masa amorfa de sabiduría. <span class="not-italic">MM</span>
      </span>
    </div>
  </Fragment>
</ContentSection>
