---
import Gof from "./game/gof.astro";
import BoliviaFlag from './flag-image.vue'
import Timer from "~/components/timer.vue";
import Icon from "astro-icon";
---

<section class="relative h-full bg-black">
  <BoliviaFlag />
  <Gof/>
  <div class="relative h-full">
    <div class="w-full h-full flex items-center justify-center">
      <div class="w-full flex flex-col items-center gap-5">
        <div
          class="font-strong text-center font-extrabold tracking-tighter text-6xl md:text-8xl w-full"
        >
          <span class="gradient-text">
            HACKMEETING
          </span>
          <br /> 
          <span class="gradient-text-yellow">
            0x7E7
          </span>
        </div>
        <div class="my-6 border-primary border-2 p-2 md:p-4">
          <Timer client:load />
        </div>
        <a
          href="https://forms.gle/q25DZ28ofRCppkH17"
          target="_blank"
          rel="noopener"
          class="btn-hm animate-opacity-announcement bg-primary text-xs md:text-lg"
        >
          <Icon pack="ph" name="ticket" class="h-10 -rotate-45" />
          <span class="font-bold uppercase">Registrate al evento</span>
        </a>
        <!-- <div class="p-4">
          <div class="max-w-4xl text-center md:text-md font-medium py-2 md:p-6 border-primary border-2 ">
            Postulaciones abiertas: 
            <a class="text-secondary hover:opacity-80" href="https://l.linklyhq.com/l/1txiC?source=website" target="_blank" rel="noopener">Speakers</a>, 
            <a class="text-secondary hover:opacity-80" href="https://l.linklyhq.com/l/1u4v0?source=website" target="_blank" rel="noopener">Workshops</a> y 
            <a class="text-secondary hover:opacity-80" href="https://l.linklyhq.com/l/1uUZ7?source=website" target="_blank" rel="noopener">Villages</a>
            <br>
            <div class="font-bold pt-2 md:pt-4">
              Hasta el 17 de Noviembre
            </div>
          </div>
        </div> -->
      </div> 
    </div>
  </div>
</section>
