---
import ContentSection from "~/components/content-section.astro";
import Carousel from "./carousel/carousel.vue";
import type { Images } from "./carousel/carousel.vue";
import intersimBlack from "~/assets/sponsor/intersim-black.png";
import confiared from "~/assets/sponsor/confiared.png";
import digitalHarbor from "~/assets/sponsor/dh.png";
import ethicalHacking from "~/assets/sponsor/ehc.png";
// import martadero from "~/assets/sponsor/martadero_black.png";

const images: Images[] = [
  {
    path: confiared.src,
    alt: 'Confiared',
    description: 'Confiared, sponsor black hat',
    url: 'https://www.confiared.com/es/'
  },
  {
    path: digitalHarbor.src,
    alt: 'Digital Harbor',
    description: 'Digital Harbor, sponsor black hat',
    url: 'https://digitalharborbolivia.com/'
  },
  {
    path: intersimBlack.src,
    alt: 'Intersim.io',
    description: 'intersim.io, sponsor gray hat',
    url: 'https://intersim.io/'
  },
  {
    path: ethicalHacking.src,
    alt: 'Ethical Hacking Consultores',
    description: 'ehcgroup.io, sponsor gray hat',
    url: 'https://ehcgroup.io/'
  }
]

const breakpoints = {
  640: {
    itemsToShow: 3,
  },
  1024: {
    itemsToShow: 4,
  },
  1280: {
    itemsToShow: 4,
  }
}
---

<ContentSection title="Nuestros Sponsors" id="sponsors">
  <Fragment slot="lead">
    Conoce a los
    <span class="text-primary">
      brillantes patrocinadores
    </span>
    que hacen posible este evento
  </Fragment>

  <Carousel 
    client:load
    images={images}
    viewportHeigth="200px" 
    autoplay={4000}
    breakpoints={breakpoints}
    navigation={false}
  />
</ContentSection>
