---
import ContentSection from "~/components/content-section.astro";
import Carousel from "./carousel/carousel.vue";
import type { Images } from "./carousel/carousel.vue";
import intersimBlack from "~/assets/sponsor/intersim-black.png";
import confiared from "~/assets/sponsor/confiared.png";
import martadero from "~/assets/sponsor/martadero_black.png";

const images: Images[] = [
  {
    path: confiared.src,
    alt: 'Confiared',
    description: 'Confiared, sponsor black hat',
    url: 'https://www.confiared.com/es/'
  },
  {
    path: intersimBlack.src,
    alt: 'Intersim.io',
    description: 'intersim.io, sponsor gray hat',
    url: 'https://intersim.io/'
  },
  // {
  //   path: martadero.src,
  //   alt: 'mARTadero',
  //   description: 'mARTadero, sponsor',
  //   url: 'https://martadero.org/'
  // }
]

const breakpoints = {
  640: {
    itemsToShow: 1,
  },
  1024: {
    itemsToShow: 1,
  },
  1280: {
    itemsToShow: 1,
  }
}
---

<ContentSection title="Nuestros Sponsors" id="sponsors">
  <Fragment slot="lead">
    Conoce a los
    <span class="text-primary">
      brillantes patrocinadores
    </span>
    que hacen posible este evento
  </Fragment>

  <Carousel 
    client:load
    images={images}
    viewportHeigth="200px" 
    autoplay={4000}
    breakpoints={breakpoints}
    navigation={false}
  />
</ContentSection>
