---
import ContentSection from "~/components/content-section.astro";
import Carousel from "./carousel/carousel.vue";
import type { Images } from "./carousel/carousel.vue";
import intersimBlack from "~/assets/sponsor/intersim-black.png";

const images: Images[] = [
  {
    path: intersimBlack.src,
    alt: 'Intersim.io',
    description: 'intersim.io, sponsor gray hat'
  }
]

const breakpoints = {
  640: {
    itemsToShow: 1,
  },
  1024: {
    itemsToShow: 1,
  },
  1280: {
    itemsToShow: 1,
  }
}
---

<ContentSection title="Nuestros Sponsors" id="sponsors">
  <Fragment slot="lead">
    Conoce a los
    <span class="text-primary">
      brillantes patrocinadores
    </span>
    que hacen posible este evento
  </Fragment>

  <Carousel 
    client:load
    images={images}
    viewportHeigth="200px" 
    numberOfImagesPerPage={4}
    autoplay={2000}
    breakpoints={breakpoints}
    navigation={false}
  />
</ContentSection>

<script>
  console.log('demo')

</script>