---
import Icon from "astro-icon";
import PackageList from "~/components/package-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { PackageItem } from "~/types";

const platforms: Array<PackageItem> = [
  {
    title: "White Hat",
    icon: "mdi:redhat",
    url: "https://l.linklyhq.com/l/1toer?source=white-redhat",
    color: '#eee',
    pricing: '100 $',
  },
  {
    title: "Gray Hat",
    icon: "mdi:redhat",
    url: "https://l.linklyhq.com/l/1toer?source=gray-redhat",
    color: '#828282',
    pricing: '220 $',
  },
  {
    title: "Black Hat",
    icon: "mdi:redhat",
    url: "https://l.linklyhq.com/l/1toer?source=black-redhat",
    color: '#000',
    pricing: '400 $',
  },
];
---
<ContentSection title="¿Deseas Auspiciar el Evento?" id="sponsorship">
  <Fragment slot="lead">
    Si eres una empresa comprometida con la tecnología, innovación, conocimiento libre y
    la seguridad informática
    <br>
    <br>
    <span class="text-primary">
      ¡Esta es tu oportunidad! 
    </span>
  </Fragment>

  <PackageList
    items={platforms}
    title="Nuestros Paquetes"
  />
  <br>

  <a
    href="https://l.linklyhq.com/l/1toer?source=website"
    target="_blank"
    rel="noopener"
    class="btn-hm"
  >
    <Icon pack="dashicons" name="pdf" class="h-10" />
    <span>Revisa nuestras Ofertas</span>
  </a>
</ContentSection>
